@{
    ViewData["Title"] = "GetById";
}


@model ProductViewModel
<a  class="btn btn-primary mb-2" asp-controller="products" asp-action="Index">Ürünler sayfasına git</a>
 @* <div class="card">
     <div class="card-header">
    <div>Isim: @Model.Name</div>
    </div> 
    <div class="card-body">
        <p class="card-text">
            <div>Id: @Model.Id</div>
            <div>Açıklama: @Model.Desciription</div>
            <div>Fiyat: @Model.Price</div>
            <div>Stok: @Model.Stock</div>
            <div>Renk: @Model.Color</div>
            <div>Süre: @Model.Expire</div>
        </p>
     
        
    </div>
</div>
 *@ 
